table {
    font-size: 0.7em;
    display: table-header-group;
}
th{
    font-size: 0.9em;
}

.getFileButton{
    max-width: 15ch;
}

.redtext{
    color:rgb(221, 49, 49)
}

input.admin-small-btn{
    font-family: inherit;
    font-size: 0.7em;
    padding: 0.5em 0.2em;
    margin: 0.3em;
    min-width: 12ch;
}
input.admin-red-btn {
    background-color: rgb(190, 0, 0);
}