		/* Header styles */
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color:darkgray;
			color: #fff;
			padding: 10px;

		}

		/* Dropdown styles */
		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			z-index: 1;
			color:black;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		/* Cart styles */
		.cart {
			display: inline-block;
			margin-right: 1.25rem;
			font-size: 1.25rem;
			color: #fff;
			cursor: pointer;
		}

		/* Search styles */
		.search-container {
			display: inline-block;
			text-align: center;
		}

		.search-box {
			padding: 0,625rem;
			border-radius: 0,3125rem;
			border: none;
			width: 18,75rem;
			font-size: 1rem;
		}

		.search-button {
			padding: 0,625rem 1,25rem;
			border-radius: 0,3125rem;
			border: none;
			background-color: #4CAF50;
			color: #fff;
			font-size: 1rem;
			cursor: pointer;
		}
